# Folders
method.insert = cfg.basedir,  private|const|string, (cat,"/config/")
method.insert = cfg.download, private|const|string, (cat,"/downloads/")
method.insert = cfg.session,  private|const|string, (cat,(cfg.basedir),"rtorrent/.session/")
directory.default.set = (cat, (cfg.download))
session.path.set = (cat, (cfg.session))

# Save session every hour
schedule2 = session_save, 300, 3600, ((session.save))

# System settings
system.daemon.set = true
system.umask.set = 0022

# Networking
dht.port.set = 6881
network.port_range.set = 50000-50000
network.port_random.set = no

# SCGI Socket
network.scgi.open_local = /run/ops/rtorrent.sock
execute.nothrow = chmod, 770, /run/ops/rtorrent.sock

# Logging
log.open_file = "rtorrent_log", /config/rtorrent/rtorrent.log
log.add_output = "debug", "rtorrent_log"
log.add_output = "error", "rtorrent_log"
log.add_output = "critical", "rtorrent_log"

# Filename encoding
encoding.add = UTF-8

# Import custom rtorrent.rc
try_import = /config/rtorrent.custom